:root{
     
    --text-color: hsl(0, 0%, 0%);
    --text-color-reverse: hsl(0, 0%, 100%);
    --akcent-color: hsla(240, 80%, 50%, 0.833);
    --border-color: hsla(0, 0%, 0%, 0.499);
    --padding-inline: 4rem;
    
}

html{
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: none;
  
    
}

body{
    margin: 0;
    padding: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.site{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    margin: 0;
    
}

h1{
    font-size: 20px;
    font-weight: 400;
}

h2{
    color: var(--text-color);
    /*background-color: darkgray;*/
    font-size: 80px;
    font-weight: 400;
}

p{
    hyphens: auto;
    overflow-wrap: break-word;
} 

a{
    text-decoration: none;
    color: black;
    display: block;
}

li{
    list-style: none;
    display: block;
}

sup{
    font-size: 30px;
}

.header{
   
    padding-inline: 20px;
    padding-block: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 7px solid black;*/
}

.header li{
    list-style: none;
    display: block;
}

.nav{
    
    margin-block: 50px;

    

}

.nav :hover{
    transition: all 0.1s ease-in-out 0.1s;
    background-color: var(--akcent-color);
    color: var(--text-color-reverse);
    
}



.nav li{
   
    
    border-bottom: 7px solid black;
     /*min-height: 100dvh; /*/
   
    border-inline: none;
}

/*.erstes-element{
    color: rgb(3, 79, 4);

}wieso geht first child nicht? …*/

.nav a{
    text-decoration: none;
    
    color: var(--text-color);
    padding-inline: 3rem;
    font-size: 80px;
    
    display: block;
}




.footer{
    /*background-color: black;*/
    height: 120px;
    width: 100%;
    
    
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 7px solid black;
    margin-top: var(--padding-inline);
    
}

.footer li{
    list-style: none;
    margin-bottom: 30px;
    display: block;
    padding-inline: var(--padding-inline);

}

.container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: minmax(260px, auto);
    align-content: center;
    justify-content: center;
    border-bottom: 7px solid black;
    padding-inline: var(--padding-inline);
    padding-block: 20px;
    gap: 20px;

}

.container div{
    
    background-color: rgb(197, 199, 211);
   
}

.container div:hover{
    transition: all 0.1s ease-in-out 0.1s;
    background-color: var(--akcent-color);
   
}

.container img{
    
    margin: 0;
    flex: 1 1 auto;
}



/*/.tag-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    min-width: 100dvh;
    border-inline: none;
    padding: none;
    margin-inline: 0;
    border-bottom: 7px solid black;
}

.tag-1 div{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: var(--padding-inline);
    padding-block: 20px;

}

.tag-1 .programmpunkt:nth-child(2){
    border-left: 3px solid rgb(165, 165, 165);
}



img{
    object-fit: cover;
}

.tag-1 div div div{
    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /*border: 1px solid brown;
    max-height: auto;

}/*/

.tag-1 div div p{
    text-align: left;
    flex-grow: 0;
    max-width: 300px;
}/*/

/*.tag-1 h1{
    border-bottom: 7px solid black;    
    min-width: 100dvh;
}/*/


/* .tag-1 div:hover{
   background-color: var(--akcent-color);
    transition: all 0.5s;
    color: var(--text-color-reverse);   
}
*/

.infobox{
    background-color: var(--akcent-color);
    border-bottom: 7px solid black;
    
    color: white;
    padding-inline: 4rem;
    padding-block: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: var(--padding-inline);

}

.infobox div{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    
}

.box{
    
    justify-content: flex-end;
    align-content: center;
}


.infobox img{
    border: 7px solid white;
    width: 10px;
    flex: 1 1 auto;
}

.infobox p{
    max-width: 300px;
    margin: 0;
    padding-left: var(--padding-inline);
}

.infobox h2{
    color: white;
}

.ueberschrift{
    border-bottom: 7px solid black;
    margin-block: 0;
    padding-inline: var(--padding-inline);
    
}




