* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
     
    --text-color: hsl(0, 0%, 0%);
    --akcent-color: #0000ff;
    --padding-inline: 4rem;
    --border: 5px solid black;
    
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    padding: 0rem;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.site {
    min-height: 100dvh;
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-columns: repeat(6, 1fr);
    gap: 0 1rem;
    margin: 0;
    
}

.site > * {
    
}

.site header {
    display: contents;
}

.site header > * {
    margin-block: 1rem 2rem;
}

.site header .logo {
    padding-inline-start: var(--padding-inline);
    grid-column-start: span 2;
}

.site header .teaser {
    grid-column-start: span 2;
    text-align: center;
}

.site header nav {
    grid-column-start: span 2;
    padding-inline-end: var(--padding-inline);
    text-align: right;
}

.site header nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    gap: 0.25lh;
}

h2{
    font-size: 30px;
    font-weight: 400;
    hyphens: auto;
    overflow-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
    font-family: roboto;
    font-weight: 350;
}    

h1 {
    
    /*background-color: darkgray;*/
    font-size: 80px;
    font-weight: 400;
    hyphens: auto;
    overflow-wrap: break-word;
    margin-block: 0;
    font-family: roboto;
    font-weight: 400;
}

.home .site section {
    border-top: var(--border)
}

.site section a {
    display: block;
    padding: 1rem 3rem;
    text-decoration: none;
    color: var(--text-color);
}

.site section a:hover {
    background-color: blue;
    color: #fff;
}

.ueberschrift {
    border-top: 0;
    border-bottom: var(--border);
    line-height: 1.1;
    margin-block: 0;
    padding-inline: var(--padding-inline);
    padding-block-end: 0.5rem;
    font-family: roboto;
    
}

details summary {
    color: var(--akcent-color);
    
    display: inline-block;
    
    padding: 0.5em 0.1em 0.35em;
}

h3{
    font-size: smaller;
    font-weight: lighter;
    font-family: roboto;
    font-weight: 350;
}

p{
    hyphens: auto;
    overflow-wrap: break-word;
    font-size: medium;
    font-family: roboto;
    font-weight: 350;
} 

a {
    color: currentColor;
    text-decoration: none;
}

li {
    list-style: none;
    display: block;
}

sup {
    font-size: 40px;
}


.logo img {
    width: 100px;
}

main{
  display: contents;
}

main section {
    grid-column-start: span 6;
}


.nav :hover {
    /* transition: all 0.1s ease-in-out 0.1s; */
    background-color: var(--akcent-color);
    color: white;
    
}

.nav p{
    max-width: 300px;
}

.nav h1{
    border: none;
}



footer {
    padding-block: 50px;
    grid-column-start: span 6;
    border-top: var(--border);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
}

footer li {
    flex: 1;
}

footer li a {
    display: flex;
    height: 100%;
    align-items: center;
}

footer img {
    display: block;
    width: 100%;
    margin-inline: auto;
    padding: 10px;
}



.tag {
    /*border: 3px solid brown;/*/
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    padding-inline: var(--padding-inline);
    margin-block: 1rem 2rem;
}

.tag div {
    
    flex-basis: 250px;
    
    max-height: fit-content;
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;
    
    /*
    @media (min-width: 40rem) {
        flex-basis: calc(50% - (1rem * 1));
    }
    @media (min-width: 60rem) {
        flex-basis: auto;
        flex: 1;
    }
    */
}

.tag sup{
    color: blue;
    font-size: medium;
}

.tag h2{
    margin: 0;
    max-width: 250px;
    
}

.tag p{
    max-width: 250px;
    margin-block: 7px;
}

.tag h3{
    margin-block: 7px;
    
}

.tag img{
    width: 250px;
    height: 350px;
    object-fit: cover;
}



.tag-1 div div p{
    text-align: left;
    flex-grow: 0;
    max-width: 300px;
}

.infobox{
    border-bottom: var(--border);   
    padding-inline: 4rem;
    padding-block: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 20px;
    column-gap: 30px;
}

.infobox div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
}




.infobox img{
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    object-fit: cover;
}

.infobox h2{
    max-width: 500px;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: minmax(250px, auto);
    align-content: center;
    justify-content: center;
    padding-inline: var(--padding-inline);
    padding-block: 20px;
    gap: 20px;
}

.container img{
    display: block;
    width: 100%;
    margin-inline: auto;
    padding: 10px;
}

